<!DOCTYPE html>
<html>
  <body>
    <h1>Thread: {{ thread.subject }}</h1>
    <p>Started: {{ thread.created_at }}</p>
    <table border="1" cellpadding="4">
      <tr><th>Time</th><th>Dir</th><th>From</th><th>To</th><th>Body</th></tr>
      {% for m in thread.messages.all %}
      <tr>
        <td>{{ m.timestamp }}</td>
        <td>{{ m.get_direction_display }}</td>
        <td>{{ m.from_address }}</td>
        <td>{{ m.to_addresses }}</td>
        <td><pre>{{ m.body }}</pre></td>
      </tr>
      {% endfor %}
    </table>
    <a href="{% url 'thread_list' %}">← Back</a>
  </body>
</html>
